//= require shared/header
//= require shared/footer
//= require superfish

.nav-container {
  position: relative;
  z-index: 2;
  margin: 18px 0 0;
  background: #fff;
}
.sf-menu {
  padding:0 10px;
  border: none;
  margin:0;
}
.sf-menu > li{display: inline-block;}
.sf-menu li {
  background-color: transparent;
  font-size:18px;
  text-align: left;
  position: relative;
  z-index: 99;
  padding:0;
  margin: 0 3px 0 0;
}
.sf-menu li:last-child{ border: none;}
.sf-menu li a {
  display: block;
  color: #303030;
  text-decoration: none;
  position: relative;
  padding:20px 9px 24px 9px;
}
.sf-menu > li > a > span {
  cursor: pointer;
  white-space: nowrap;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a > span {  background: center -59px no-repeat;}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {
  color: #fff;
  background: url(/images/nav-item-act-bg.gif) top repeat-x #fb725e;
}

.sf-menu > li.sfHover > a span,
.sf-menu > li > a:hover span,
.sf-menu > li.active > a span {  color: #fff;}
.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 188px;
  display: none;
  background: #303030;  
  padding:10px 0;   
}
.sf-menu li li {
  font-size:13px;
  padding:0 0 0 0;
  margin: 0;
}
.sf-menu li li.last {  border-bottom: none;}
.sf-menu li li.sfHover,
.sf-menu li li,
.sf-menu li li:hover {
  float: none;
  border-right: none;
  position: relative;
}
.sf-menu li li a,
.sf-menu li.sfHover li a,
.sf-menu li.active li a {
  background: none;
  font-size: 13px;
  color: #999898;
  padding:0;
  font-weight: normal;
  display: block;
  padding: 7px 10px;
}

.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a { background: #454545; color: #fff; }

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 62px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 980px) {
  #menu-icon,
  .sf-menu-phone {  display: none !important;}
}
@media only screen and (max-width: 979px) {
  .nav-container .container{ margin: 0;}
  .sf-menu,
  .sf-menu-phone {display: none;}
  .nav-container{
    background: #fff;
  }
  /* menu icon */
  #menu-icon {
    display: block;

    background: url(/images/menu-icon-bg.png) 95% 11px no-repeat;
    font-size: 18px;
    line-height: 21px;
    color: #303030;
    cursor: pointer;
    text-transform: none;
    padding: 13px 0 0 20px;
    height: 33px;
    margin: 0 0;
  }

  #menu-icon.active { background-position: 95% -47px;  }

  .sf-menu-phone {
    background: #303030;
    position: relative;
    padding: 13px 20px 20px;
    z-index: 2;
    margin: 0 0;
  }
  .sf-menu-phone li { 
    padding: 8px 0;  
    position: relative; 
    font-size: 16px;  
  }
  .sf-menu-phone > li {  border-bottom: 1px solid #515050; }
  .sf-menu-phone li a { display: inline-block;  color: #fff;  }
  .sf-menu-phone li a:hover { color: #B90100; }
  .sf-menu-phone li li {
    font-size: 14px; 
    padding: 3px 0; 
  }
  .sf-menu-phone li li.last { padding-bottom: 0;  }
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    background: url(/images/toogle-button2.png) center -54px no-repeat;
    top: 4px;
    right: 0;
    height: 24px;
    width: 24px;
  }
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong.opened { background-position: center 7px; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto;  padding: 8px 0 0 20px;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover { color: #999;  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {color: #999;}
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {

}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  #menu-icon,
  .sf-menu-phone {margin: 0;}
}

/******************** Banner ***********************/
.slider_block { overflow:hidden; }
.banners { margin-top: -50px; position: relative; }
.tbanner { 
  position:relative; 
  float: left; 
  width: 33.33%; 
  z-index: 10;
  background: #fff;
}
.tbanner a{ display: block;}
.tbanner img { max-width:100%; }
.tbanner:hover img { opacity:0.8; filter:alpha(opacity=80); }
.tbanner .b_holder { 
  position:absolute; 
  top:50px; 
  left:30px; 
  width: 60%; 
  z-index:1; 
  color: #fff; 
  font-size: 15px; 
  line-height: 20px; 
  text-align: left;
}
.tbanner h2 {  
  font-size:31px; 
  line-height: 31px; 
  font-weight:normal; 
  text-transform:none; 
  color:#fff; 
  margin:0 0 22px; 
}
.tbanner h2 strong { 
  display:block; 
  font-size:51px; 
  line-height: 45px; 
  font-weight:normal; 
  margin:-2px 0 0px; 
}
.tbanner h2 span{ 
  display: block; 
  font-size: 71px; 
  color: #303030; 
  line-height: 71px; 
  font-family: Arial, sans-serif;   
  letter-spacing: -3px;
}
.tbanner .link{ 
  position: absolute; 
  bottom: 18px; 
  right: 15px; 
  font-size: 22px; 
  color: #fff;
}
.tbanner:hover .link{ color: #fb725e; opacity: 1; }
.banner2 { }
.banner3 .b_holder{ color: #000;}

.banner5 h2{ color: #fb725e;}
.banner5 .b_holder{ color: #000;}


.sample { overflow:hidden; }
.sample .span8, sample .span4 { float:left; }

.bottom-banners-container { display:none; background:#fff; margin:0 auto; padding:0 0 50px 0; }
.cms-index-index .bottom-banners-container { display:block; }
.banners_row { overflow:hidden; margin-bottom:30px; }
.b_ban { }
.b_ban.banner_bottom4 { margin-bottom: 50px;}

.b_ban img { max-width:100%; }
.b_ban:hover img { opacity:0.8; filter:alpha(opacity=80); }
.b_ban .b_holder { 
  position:absolute; 
  top:14px; 
  left:29px; 
  z-index:1; 
  text-align: left;
}
.b_ban h2 { 
  font-family:'Open Sans'; 
  font-size:31px; 
  font-weight:normal; 
  text-transform:uppercase; 
  color:#fff; 
  margin:0 0 50px 0; 
}
.b_ban h2 strong { 
  display:block; 
  font-size:51px; 
  font-weight:normal; 
  margin-bottom:-11px; 
}
.b_ban p { 
  font-size:13px; 
  color:#fff; 
  line-height:19px; 
  width:290px; 
}

.grey_row {}
.grey_ban { background:#fff; border:solid 1px #dcdbdb; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.grey_ban a { display:block;  padding:24px 28px 25px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.grey_ban a h2 { 
  font-size:24px; 
  font-weight:normal; 
  text-transform:uppercase; 
  color:#303030; 
  font-family: 'Open sans', sans-serif; 
  margin:0 0 10px 0; 
}
.grey_ban a p { 
  font-size:13px; 
  font-weight:normal; 
  color:#949494; 
  line-height:20px; 
  margin:0 0 0 0; 
}
.grey_ban a p:after{ 
  content: '\f054'; 
  font-size: 13px; 
  color: #3e3e3e;   
  padding-left: 4px; 
}
.smban1 a h2:before{ 
  content: '\f0d1'; 
  font-size: 38px; 
  color: #949494; 
  padding-right: 9px; 
}
.smban2 a h2:before{ 
  content: '\f095'; 
  font-size: 38px; 
  color: #949494; 
  padding-right: 9px; 
}
.smban3 a h2:before{ 
  content: '\f09d'; 
  font-size: 38px; 
  color: #949494; 
  padding-right: 9px;
}
.grey_ban:hover { background:#303030; }
.grey_ban:hover a h2, .grey_ban:hover a p{ color: #fff;}
.grey_ban:hover p:after{ color: #fff;}

.tbanner .link,
.products-grid button.btn-cart span span,
.grey_ban:hover p:after,
.grey_ban:hover a h2, .grey_ban:hover a p,
.products-grid button.button,
.products-grid .actions a,
.products-list .actions a,
.sf-menu li a,
#back-top span,
.product-name a,
button.button > span,
.block-wishlist .actions a,
.page-sitemap .links a,
.footer ul li a,
.header .links li a,
.header-button > a,
.header-button ul li a,
.header .form-search button.button .icon-search,
.camera_prev > span:before,
.camera_next > span:before,
.socials a,
.tbanner img,
.b_ban img,
.grey_ban,
.banner img,
.camera_caption .link-camera span  { transition: all 0.3s ease 0s; }
